body {
  text-align: center;
  margin: 0;
  font-size: 1.6rem;
  color: black;
  line-height: 1.5;
}

#main {
  margin: 30px 8px;
  border-radius: 5px;
  padding: 15px;
  background: #eee;
}

p {
  display: block;
  margin: 1em 0 1em 0;
}

img {
  display: block;
  width: 60%;
  height: auto;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
}

figcaption {
  display: block;
}

#tribute-info {
  widows: 40%;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

blockquote {
  widows: 30%;
}
